.loader-div{
  display:-webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-flex:1;
    
  display:-moz-box;
  -moz-box-orient: vertical;
  -moz-box-flex:1;
    
  display:-o-box;
  -o-box-orient:vertical;
  -o-box-flex:1;

  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;

  display: flex;
  display:-webkit-flex;
  flex-direction: column;

  width:100%;
  min-height:100%;

  text-align: center;
  align-items: center;
  justify-content: center;
};

.loader-div-spinner{
  width: 5rem;
  height: 5rem;
};

.nltv-loader{
  width: 1rem;
  height: 1rem;
};

.loadimg{
  color:#fff;
};