// For product card text
$fontA: Euclid Circular A;
$font-size: 15px;
$font-style: normal;
$font-weight: 400;
$line-height: 25px;
$letter-spacing: 0em;
$text-align: left;

//For side bar text
$fontb: Open Sans;
$font-sizeb: 14px;
$background: #0F0F2C;


